<span id="secret" data-id="{{id}}"></span>

<h1 id="artistName" class="text-center">Artist Name</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="bandPhoto"></div>
      <ul id="socials"></ul>
    </div>


    <div class="col-md-9">
      <div class="row">
        <p id="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi rerum provident hic, aspernatur deleniti quisquam consectetur! Sunt quibusdam, magni ducimus id deleniti aut ullam architecto quaerat. Provident, fuga fugit?</p>
      </div>
      <div class="row">
        <p id="busks">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sunt ea! Quibusdam neque commodi laborum eligendi quisquam officia, quasi illum aut, tempora impedit unde similique fuga cum labore ratione corrupti!</p>
      </div>
    </div>
  </div>



</div>

  <p id="test"></p>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="../artist.js"></script>