<link rel="stylesheet" href="../style.css">

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
</ul>


<span id="secret" data-id="{{id}}"></span>

<h1 id="artist" class="text-center"></h1>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div id="bandPhoto"></div>
      <ul id="socials"></ul>
    </div>


    <div class="col-9 container">
      <div class="row">
        <h3 id="anything" class="col-12">Bio</h3>
        <hr>
        <p id="bandBio"></p>
      </div>


      <div class="row">
        <h3>Upcoming Busks</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Dates</th>
            </tr>
          </thead>
          <tbody id="busks">
        
          </tbody>
        </table>
        
      </div>
    </div>
  </div>



</div>

 


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="../artist.js"></script>