#mainPhoto {
  width: 300px;
  margin-bottom: 5%;
}

#bandPhoto {
  width: 100%;
  margin-bottom: 5%;
 
}

#anything {
  padding: 0px;
  margin: 0px;
}

.font {
  font-variant-caps: all-small-caps;
  /* font-style: italic; */
}

.rad{
  border-radius: 30%;
}